
.navbar-container {
  justify-content: center;

  li {
    padding: 6px 24px;

    & > a {
      color: #fff;
      text-decoration: inherit;
      font-size: 15px;
      opacity: .7;
      transition: opacity ease-in .3s;

      &:hover {
        filter: brightness(1.2);
        opacity: 1;
      }
    }

  }

}