.title-container {
  position: relative;

  h1 {
    font-size: 46px;
    font-weight: 700;
    letter-spacing: -0.25px;
    line-height: 100%;
    z-index: 9;
  }

  .text-shadow {
    position: absolute;
    left: -6px;
    color: transparent;
    font-size: 100px;
    font-weight: 900;
    opacity: 0.2;
    max-width: 100%;
    white-space: nowrap;
    -webkit-text-stroke: 1px #fff;
    bottom: -20px;
    z-index: -1;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 600px) {
  .title-container {
    position: relative;

    h1 {
      font-size: 2rem;
    }

    .text-shadow {
      bottom: -10px;
      font-size: 4rem;
    }
  }
}
