
.navbar-container {
  width: 100%;
  position: fixed;
  justify-content: center;
  z-index: 1;

  li {
    cursor: pointer;

    & > a {
      cursor: pointer;
      padding: 6px 24px;
      color: #fff;
      text-decoration: inherit;
      font-size: 15px;
      opacity: .7;
      transition: opacity ease-in .3s;

      &:hover {
        filter: brightness(1.2);
        opacity: 1;
      }
    }
  }
}